<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="serchgrab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <appSettings>
    <add key="ftpip" value="ftp://100.42.52.207/" />
    <add key="ftpun" value="araisakurai" />
    <add key="ftppw" value="Password@1986" />
    <!--<add key="ftpun" value="arai" />-->
     <add key="constr" value="Data Source =WIN-7QFBSP6HCCB; Initial Catalog = SakuraiAuction; User ID = sa; Password = Password@123" />
     <add key="constr2" value="Data Source =WIN-7QFBSP6HCCB; Initial Catalog = AraiTask; User ID = sa; Password = Password@123" />
     <!--<add key="constr" value="Data Source =ISURU; Initial Catalog = SakuraiAuction; User ID = sa; Password = 123" />-->
     <!--<add key="constr" value=" Data Source=WIN-7QFBSP6HCCB;Initial Catalog=SakuraiAuction;Integrated Security=True;"  />-->
     <!--<add key="constr" value="Data Source =100.42.52.204; Initial Catalog = netauction_sakuraijp; User ID = netauction_user; Password = Password@1986" />-->
  </appSettings>
    <userSettings>
        <serchgrab.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>F:\down</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="Setting2" serializeAs="String">
                <value>
                </value>
            </setting>
        </serchgrab.Properties.Settings>
    </userSettings>
</configuration>